{% extends 'front.layouts.app' %}

{% block title %}Контакты{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="title_a1">Сервис</h1>

        <div class="row">
            <div class="col-md-6">
                <p class="space-xs"><img src="/img/content/service_001.jpg" alt="" style="width: 100%"></p>
                <p class="space-xs">Автосервис «Автодиагностика54» — это коллектив профессионалов, обладающих значительным опытом ремонта автомобилей. Здесь предоставляется полный комплекс услуг: от диагностики до ремонта. Все работы производятся с использованием профессионального оборудования. Перечень работ включает ремонт электроники, обновление программного обеспечения, установку и ремонт автосигнализаций и многое другое.</p>
                <p class="space-xs"><img src="/img/content/service_003.jpg" alt="" style="width: 100%"></p>
            </div>
            <div class="col-md-6">
                <h3>Вид работ</h3>
                <p class="space-xs">замена масла, заправка кондиционера, кузовной ремонт, ремонт автокондиционеров, ремонт акпп, ремонт выхлопных систем, ремонт грузовых авто, ремонт двигателя, ремонт дизельных двигателей, ремонт карбюраторов, ремонт подвески, ремонт топливной аппаратуры дизельных двигателей, ремонт электронных систем управления автомобиля, ремонт электрооборудования, тюнинг, тюнинг двигателя, установка автозвука, установка ксенона</p>
                <h3>Тип</h3>
                <p class="space-xs">автосалон, автосервис, автостанция, автостоянка, прокат автомобилей, тюнинг-ателье</p>
                <p class="space-xs"><img src="/img/content/service_002.jpg" alt="" style="width: 100%"></p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" id="map"></div>
        </div>
    </div>
{% endblock %}



