{% extends 'front.layouts.app' %}

{% block title %}Контакты{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="title_a1">Контакты</h1>

        <p class="space-xs">ООО "Трак-Прайс"</p>
        <p class="space-xs">г. Кемерово, ул. Тухачевского, 60</p>
        <p class="space-xs">ИНН 5406973962</p>
        <p class="space-xs">КПП 540601001</p>
        <p class="space-xs">ОГРН 1175476040410</p>
        <p class="space-xs">тел.: 8 800 550 73 83</p>
        <p class="space-xs">partner@isuzu.market</p>

        <div class="row">
            <div class="col-md-6">
                <p class="space-xs">АО «ИСУЗУ РУС» (бывшее ЗАО «СОЛЛЕРС-ИСУЗУ») – это официальный производитель и дистрибьютер автомобильной марки ISUZU в России. Компания основана совместными усилиями двух японских корпораций — Isuzu Motors Limited (74% акций) и Sojitz Corporation (26% акций).</p>
            </div>
            <div class="col-md-6">
                <p class="space-xs">Область деятельности компании – производство и продажа полного модельного ряда коммерческой техники ISUZU полной массой от 3,5 до 33 тонн через национальную дилерскую сеть, которая на данный момент насчитывает более 50 дилерских центров. Производственные мощности АО «ИСУЗУ РУС» расположены в г. Ульяновск.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" id="map"></div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>

    <script type="text/javascript">
        ymaps.ready(init);
        var myMap;

        function init(){
            myMap = new ymaps.Map("map", {
                center: [55.3089055, 86.1398371],
                zoom: 17
            });

            // Создаем геообъект с типом геометрии "Точка".
            var myGeoObject = new ymaps.GeoObject({
                // Описание геометрии.
                geometry: {
                    type: "Point",
                    coordinates: [55.3089055, 86.1398371]
                },
                // Свойства.
                properties: {
                    // Контент метки.
                    iconContent: 'Официальный дилер ISUZU'
                }
            }, {
                // Опции.
                // Иконка метки будет растягиваться под размер ее содержимого.
                preset: 'islands#blackStretchyIcon',
                // Метку можно перемещать.
                draggable: true
            });

            myMap.geoObjects.add(myGeoObject);
        }
    </script>
{% endblock %}
