{% extends 'front.layouts.app' %}

{% block content %}
    <!-- promo -->
    <div class="row hidden-xs">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 promo_home_left_box" style="background: url('/finance_001.jpg') center no-repeat !important;">
            <img src="/finance_001.jpg" alt="" class="visible-xs">
            <h3 class="promo_home_left_title space-xs">Выгодный лизинг</h3>
            <p class="promo_home_left_text space-xs">Специальная программа финансирования автомобилей для оптимальных условий покупки автомобиля</p>
            <p class="promo_home_left_button space-xs"><a href="{{ route('front_leasing_view', {"id": 1}) }}" class="btn btn-white">Подробнее</a></p>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-6 hidden-xs" style="padding-left: 0">
            <div class="promo_home_right_image" style="background: url('/finance_002.jpg') center !important; background-size: cover;"></div>
            <h3 class="promo_home_right_title promo_home_right_space">Выгодный кредит</h3>
            <p class="promo_home_right_text promo_home_right_space">Кредитные программы покупки грузовых автомобилей для физических лиц</p>
            <p class="promo_home_right_button promo_home_right_space"><a href="{{ route('front_credit_view', {"id": 1}) }}" class="btn btn-red">Подробнее</a></p>
        </div>
    </div>
    <!--/ promo finance -->

    <div class="row visible-xs">
        <div class="col-xs-12">
            <img src="/finance_001.jpg" alt="" style="width: 100%">
            <h3 class="promo_home_left_title space-xs">Выгодный лизинг</h3>
            <p class="promo_home_left_text space-xs">Специальная программа финансирования автомобилей для оптимальных условий покупки автомобиля</p>
            <p class="promo_home_left_button space-xs"><a href="{{ route('front_leasing_view', {"id": 1}) }}" class="btn btn-white">Подробнее</a></p>
            <p>&nbsp;</p>
        </div>

        <div class="col-xs-12">
            <img src="/finance_002.jpg" alt="" style="width: 100%">
            <h3 class="promo_home_left_title space-xs">Выгодный кредит</h3>
            <p class="promo_home_left_text space-xs">Кредитные программы покупки грузовых автомобилей для физических лиц</p>
            <p class="promo_home_left_button space-xs"><a href="{{ route('front_credit_view', {"id": 1}) }}" class="btn btn-red">Подробнее</a></p>
        </div>
    </div>


{% endblock %}