{% extends 'front.layouts.app' %}

{% block title %}Запчасти ISUZU от официального дилера{% endblock %}

{% block content %}

    <style>
        @media (min-width: 992px) and (orientation: landscape) {
            p, li {
                font-size: 18px;
            }

            .carousel-control {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                width: 35px;
                text-align: center;
                opacity: 1;
                color: #fff;
            }

            .carousel-control .ion-ios-arrow-left, .carousel-control .ion-ios-arrow-right {
                position: absolute;
                z-index: 5;
                top: 50%;
                display: inline-block;
                margin-top: -24px;
                font-size: 48px;
                line-height: 0;
            }

            #carousel-example-generic {
                width: 100%; margin: 80px 0
            }

            .carousel-caption {
                width: 715px;
                font-family: "ExGillSansC" !important;
                font-weight: normal;
                font-size: 30px;
                line-height: 1.6;
                text-align: left;
                color: #ffffff;
                right: 0;
                left: 240px;
                top: 150px;
            }

            /* parts price */
            .__parts_price_table td {
                font-size: 18px;
                border-top: 0 !important;
            }

            .__parts_price_title {
                color: #000000;
                font-size: 48px;
                line-height: 26px;
            }
        }

        @media (max-width: 320px) {
            /* parts price */
            .__parts_price_table td {
                font-size: 14px;
                border-top: 0 !important;
            }

            .__parts_price_title {
                padding-top: 24px;
                color: #000000;
                font-size: 36px;
                line-height: 36px;
            }

            .__parts_price_table a {
                font-size: 14px;
                color: #000 !important;
            }
        }

        @media (max-width: 478px) {
            .carousel-control {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                width: 35px;
                text-align: center;
                opacity: 1;
                color: #fff;
            }

            .carousel-caption {
                font-family: "ExGillSansC" !important;
                font-weight: normal;
                font-size: 16px;
                line-height: 1.2;
                text-align: left;
                color: #ffffff;
                right: 40px;
                left: 40px;
                top: 0;
            }

            .carousel-control .ion-ios-arrow-left, .carousel-control .ion-ios-arrow-right {
                position: absolute;
                z-index: 5;
                top: 50%;
                display: inline-block;
                margin-top: -12px;
                font-size: 24px;
                line-height: 0;
            }

            li {
                padding-right: 20px;
            }
        }



        .table-striped > tbody > tr:nth-of-type(odd) {
            background-color: #e5e5e5 !important;
        }

    </style>
    <div class="container" style="padding-top: 70px">
        <div class="row">
            <div class="col-md-6">
                <h1 class="title_a1">Запчасти ISUZU</h1>
                <h3 class="space-xs">Продажа со склада от официального дилера</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p class="space-xs">Компания ООО Трак-прайс является официальным дилером марки ISUZU и реализует полный ассортимент запасных частей для грузовиков ISUZU. Наша компания это надежный и ответственный поставщик, которому доверяет производитель.</p>
                <p class="space-xs">На складе ООО Трак-прайс в постоянном ассортименте находятся запасные части для полного модельного ряда автомобилей ISUZU.</p>
                <p class="space-xs">Оригинальный каталог запасных частей и правильно организованный складской учет позволяют быстро найти нужную деталь на складе.</p>
            </div>
            <div class="col-md-6">
                <p class="space-xs">Детали или оборудование, имеющиеся в наличии на складе, могут установить на  ваш автомобиль специалисты нашего автосервиса.</p>
                <p class="space-xs">При отсутствии запасных частей на складе возможна их доставка из Москвы (срок поставки – от 1 рабочего дня).</p>
                <p class="space-xs">Приобретая запчасти на автомобили ИСУЗУ у официального дилера, вы получаете гарантию на запасные части 12 месяцев и <a href="{{ route('front_articles_index') }}">защиту от приобретения поддельных запчастей.</a></p>
                <p class="space-xs">Поддельные запчасти на рынке – это проблема, которая создает угрозу стабильной работы вашего бизнеса. Приобретая запчасти у нас вы защищены.</p>
            </div>
        </div>


        <div class="visible-md visible-lg" style="display: block; width: 100%; height: 48px;"></div>

        <div class="row">
            <div class="col-lg-7 col-md-8" style="margin-bottom: 32px;">
                <img src="/parts_001.jpg" alt="" style="width: 100%" class="__effect_zoom">
            </div>

            <div class="col-lg-5 col-md-4 __home_item_cover_decription">
                <p class="price space-xs">Запрос по VIN</p>
                <p class="title space-xs">Быстрый подбор по каталогу</p>
                <p class="space-xs">
                    <button type="button" class="btn btn-red" data-toggle="modal" data-target="#modal_order">Оставить запрос</button>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12 __home_item_list">
                <img src="/parts_002.jpg" alt="" class="__effect_zoom">
                <p>&nbsp;</p>
                <p class="price space-xs">Подбор по названию</p>
                <p class="title space-xs">Специалист подберет запчасть для вас</p>
                <p class="space-xs">
                    <button type="button" class="btn btn-red" data-toggle="modal" data-target="#modal_find_part">Оставить запрос</button>
                </p>
            </div>

            <div class="col-lg-6 col-md-6 col-xs-12 __home_item_list">
                <img src="/parts_003.jpg" alt="" class="__effect_zoom">
                <p>&nbsp;</p>
                <p class="price space-xs">Ответ специалиста</p>
                <p class="title space-xs">Специалист по продаже запчастей ответит на любые вопросы </p>
                <p class="space-xs">
                    <button type="button" class="btn btn-red" data-toggle="modal" data-target="#modal_callback">Оставить запрос</button>
                </p>
            </div>
        </div>

        <div class="row">

            <div class="col-md-12">
                <h3 class="space-xs">ISUZU BEST VALUE PARTS</h3>
            </div>

            <div class="col-md-6 col-xs-12">
                <div>
                    <p>ISUZU BEST VALUE PARTS (BVP) – это самый экономичный вариант качественных и, что немаловажно, оригинальных запасных частей для автомобилей ISUZU.  В чем же их преимущества?</p>
                    <ul>
                        <li>обширный ассортимент;</li>
                        <li>привлекательная цена;</li>
                        <li>высокий уровень службы;</li>
                        <li>гарантия от завода-изготовителя.</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div>
                    <p>Ассортимент ISUZU BVP – от масляных  и воздушных фильтров до  сцеплений и тормозных компонентов – был разработан с тем, чтобы обеспечить владельцу надежного грузовика с большим стажем достойный выбор для обслуживания ценного бизнес-актива.</p>
                    <p>Все запасные части ISUZU BVP изготовлены в соответствии со строгими стандартами Исузу по качеству и совместимости, раз за разом облегчая ремонт и обслуживание автомобиля.</p>
                    <p>Устанавливая запасные части ISUZU BVP, Вы можете смело вернуть автомобиль на линию, не сомневаясь в наивысшем качестве установленных оригинальных компонентов от производителя.</p>
                    <p>Оригинальные запасные части ISUZU BVP доступны исключительно у авторизованных дилеров Исузу по всей стране.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="/22.jpg" alt="...">
                            <div class="carousel-caption">
                                На оригинальные запасные части ISUZU высочайшего качества предоставляется гарантия 12 месяцев
                            </div>
                        </div>
                        <div class="item">
                            <img src="/11.jpg" alt="...">
                            <div class="carousel-caption">
                                В сервисном центре ООО Трак-Прайс вы всегда можете быстро установить на автомобиль приобретенные запасные части
                            </div>
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon ion-ios-arrow-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon ion-ios-arrow-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>


        </div>

        <div class="row">
            <div class="col-md-6 col-xs-12">
                <h3 class="space-xs">Преимущества покупки запчастей у официального дилера</h3>

                <div>
                    <ul>
                        <li>Всегда запчасти высочайшего технического уровня</li>
                        <li>Гарантия качества ISUZU</li>
                        <li>Гарантия долговечности. Надежность оригинальных запчастей экономит ваши расходы</li>
                        <li>Сокращение простоев техники</li>
                        <li>Гарантия на запасные части от производителя</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div>
                    <ul>
                        <li>Надежность работы оригинальных запчастей такая же, как и установленных в автомобиле при сборке</li>
                        <li>Неограниченный выбор: запчасти можно заказать для всех грузовиков ISUZU, даже для старых моделей</li>
                        <li>Лучшие показатели качества и производительности гарантированы проектированием непосредственно компанией ISUZU</li>
                        <li>Продажа оригинальных запчастей осуществляется только через официальную дилерскую сеть ISUZU</li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="row" style="padding: 48px 0">
            <div class="col-md-12">
                <p class="space-xs"><button type="button" class="btn btn-red" data-toggle="modal" data-target="#modal_callback">Оставить запрос</button></p>
            </div>
        </div>
    </div>

    <div class="container">

        <h3 class="space-xs">Запчасти ISUZU можно приобрести по адресу<br>&nbsp;</h3>
        <p class="space-xs">г.Москва ул.Рябиновая 26 стр3. офис 803</p>
        <p class="space-xs">г.Новосибирск, ул. Дунаевского 16</p>
        <p class="space-xs">тел.: 8 800 550 73 83</p>
        <p class="space-xs"><a href="mailto:partner@isuzu.market">partner@isuzu.market</a></p>

        <div class="row">
            <div class="col-md-12" id="map"></div>
        </div>
    </div>
{% endblock %}


{% block script %}
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>

    <script type="text/javascript">
        ymaps.ready(init);
        var myMap;

        function init(){
            myMap = new ymaps.Map("map", {
                center: [55.102264, 82.978707],
                zoom: 17
            });

            // Создаем геообъект с типом геометрии "Точка".
            var myGeoObject = new ymaps.GeoObject({
                // Описание геометрии.
                geometry: {
                    type: "Point",
                    coordinates: [55.102264, 82.978707]
                },
                // Свойства.
                properties: {
                    // Контент метки.
                    iconContent: 'Официальный дилер ISUZU',
                }
            }, {
                // Опции.
                // Иконка метки будет растягиваться под размер ее содержимого.
                preset: 'islands#blackStretchyIcon',
                // Метку можно перемещать.
                draggable: true
            });

            myMap.geoObjects.add(myGeoObject);
        }
    </script>
{% endblock %}


