{% extends 'front.layouts.app' %}

{% block title %}Сервисный центр ISUZU{% endblock %}

{% block content %}

<style>
    @media (min-width: 992px) and (orientation: landscape) {
        p, li {
            font-size: 18px;
        }

        .carousel-control {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 35px;
            text-align: center;
            opacity: 1;
            color: #fff;
        }

        .carousel-control .ion-ios-arrow-left, .carousel-control .ion-ios-arrow-right {
            position: absolute;
            z-index: 5;
            top: 50%;
            display: inline-block;
            margin-top: -24px;
            font-size: 48px;
            line-height: 0;
        }

        #carousel-example-generic {
            width: 100%; height: 530px; margin: 80px 0
        }
    }

    @media (max-width: 478px) {

    }







</style>
    <div class="container" style="padding-top: 70px">

        <div class="row">
            <div class="col-md-6">
                <h1 class="title_a1">Сервисный центр ISUZU</h1>
                <h3 class="space-xs">Сертифицированный центр официального дилера</h3>
                <p class="space-xs">Специалисты автосервиса помогут вам быстро подобрать необходимые запасные части, вовремя устранить неисправность и помочь без потерь для бизнеса вернуть автомобиль в строй, максимально снизив время простоя</p>
                <p class="space-xs"> <a href="{{ route('front_leasing_view', {id: item.id}) }}" class="btn btn-red">Запись в автосервис</a></p>
            </div>
            <div class="col-md-6">
                <p class="space-xs"><img src="/service_303.jpg" alt="" style="width: 100%"></p>
            </div>
        </div>

        <div class="row">

            <div class="col-md-12">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="/service_301.jpg" alt="...">
                            <div class="carousel-caption">
                                <p>Пишем текст!</p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="service_302.jpg" alt="...">
                            <div class="carousel-caption">
                                <p>Уже написали?</p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="service_304.jpg" alt="...">
                            <div class="carousel-caption">
                                <p>Информативный текст (возможны орфографические ошибки)</p>
                            </div>
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon ion-ios-arrow-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon ion-ios-arrow-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>

            <h3 class="space-xs">Сервисные контракты</h3>
        </div>

        <div class="row">
            <div class="col-md-6">

                <p class="space-xs">
                <ul>
                    <li>Профессиональное обслуживание автомобиля</li>
                    <li>Оригинальные запасные части</li>
                    <li>Индивидуальный план ТО с учетом условий эксплуатации</li>
                    <li>Сокращение простоев техники</li>
                    <li>Гарантия на запасные части и работы</li>
                </ul>
                </p>
            </div>
            <div class="col-md-6">
                <p class="space-xs">
                <ul>
                    <li>Обслуживание в любом официальном сервисном центре Isuzu в России</li>
                    <li>Гибкая система оплаты: ежемесячные платежи, квартальные платежи, полная оплата, либо оплата, включенная в лизинговый платёж</li>
                    <li>Простой документооборот, снижение административной нагрузки</li>
                    <li>Гибкий пересмотр условий контракта при изменении условий эксплуатации</li>
                </ul>
                </p>
            </div>
        </div>

        <div class="row" style="padding-top: 48px">
            <div class="col-md-12 text-center">
                <p class="space-xs"> <a href="{{ route('front_leasing_view', {id: item.id}) }}" class="btn btn-red">Оформить заявку</a></p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="space-xs">АО «ИСУЗУ РУС» (бывшее ЗАО «СОЛЛЕРС-ИСУЗУ») – это официальный производитель и дистрибьютер автомобильной марки ISUZU в России. Компания основана совместными усилиями двух японских корпораций — Isuzu Motors Limited (74% акций) и Sojitz Corporation (26% акций).</p>
            </div>
            <div class="col-md-6">
                <p class="space-xs">Область деятельности компании – производство и продажа полного модельного ряда коммерческой техники ISUZU полной массой от 3,5 до 33 тонн через национальную дилерскую сеть, которая на данный момент насчитывает более 50 дилерских центров. Производственные мощности АО «ИСУЗУ РУС» расположены в г. Ульяновск.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" id="map"></div>
        </div>
    </div>
{% endblock %}


{% block script %}
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>

    <script type="text/javascript">
        ymaps.ready(init);
        var myMap;

        function init(){
            myMap = new ymaps.Map("map", {
                center: [55.102264, 82.978707],
                zoom: 17
            });

            // Создаем геообъект с типом геометрии "Точка".
            var myGeoObject = new ymaps.GeoObject({
                // Описание геометрии.
                geometry: {
                    type: "Point",
                    coordinates: [55.102264, 82.978707]
                },
                // Свойства.
                properties: {
                    // Контент метки.
                    iconContent: 'Официальный дилер ISUZU',
                }
            }, {
                // Опции.
                // Иконка метки будет растягиваться под размер ее содержимого.
                preset: 'islands#blackStretchyIcon',
                // Метку можно перемещать.
                draggable: true
            });

            myMap.geoObjects.add(myGeoObject);
        }
    </script>
{% endblock %}


