{% extends 'front.layouts.app' %}

{% block title %}Вакансии{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="title_a1">Вакансии</h1>

        <p class="space-xs">Официальный дилер ISUZU в Сибири, компания ООО "Трак-Прайс", ведёт поиск соискателей по следующим позициям:</p>

        <p class="space-xs">
        <ul>
            <li><a href="#">Мастер приемщик, продавец автозапчастей</a></li>
            <li><a href="#">Мастер смены</a></li>
            <li><a href="#">Моторист</a></li>
            <li><a href="#">Автоэлектрик-диагност</a></li>
            <li><a href="https://www.zarplata.ru/vacancy/card/140178046/Avtoslesar?id=140178046">Автослесарь</a></li>

        </ul>
        </p>

        <p class="space-xs">Отправить свои резюме можно на нижеследующий e-mail:<br>partner@isuzu.market</p>
    </div>
{% endblock %}

