{% extends "front.layout.app" %}

{% block content %}
    {% include 'front/widget/menu.twig' with data.menu only %}

    <div class="container" style="padding-top: 48px;">
        {% if data.products is not empty %}
            {% include 'front/widget/products.twig' with {'data': data.products, 'city': city } only %}
        {% endif %}
    </div>
{% endblock %}
