{% extends 'front.layouts.app' %}

{% block title %}My Site{% endblock %}

{% block content %}

    <style>
        .__configurator_menu {
            padding: 0 !important;
        }

        .__configurator_menu li {
            padding-bottom: 27px;
            list-style-type: none;
            font-size: 18px;

        }

        .__configurator_menu li, .__configurator_menu a {
            color: #646464;
        }

        .__base_page_title {
            padding-top: 64px;
            padding-bottom: 45px;
            font-size: 64px;
            line-height: 1;
        }

        .__configurator_menu .active a {
            color: #ff2500 !important;
        }

        label:hover {
            color: #ff2500;
        }
    </style>

    <div class="container">
        <div class="row">
            <div class="visible-md" style="height: 55px"></div>

            <div class="col-lg-12">
                <h1 class="title_a1">Конфигуратор</h1>
            </div>

            <div class="col-lg-3 col-md-12">
                <ul class="__configurator_menu">
                    <li {% if step == 1 %}class="active"{% endif %}><a href="{{ route('front_configurator_index') }}">01 Тип автомобиля</a></li>
                    <li {% if step == 2 %}class="active"{% endif %}><a href="{{ route("front_configurator_chassis", {"alias": 1}) }}">02 Шасси</a></li>
                    <!--<li {% if step == 3 %}class="active"{% endif %}><a href="#">03 Дополнительные опции</a></li>-->
                    <li {% if step == 4 %}class="active"{% endif %}><a href="#">03 Лизинг</a></li>
                    <li {% if step == 5 %}class="active"{% endif %}><a href="{{ route("front_configurator_finish", {"alias": 1}) }}">04 Итог</a></li>
                </ul>
            </div>

            <div class="col-lg-9 col-md-12">
                {% block configurator %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}