{% set step = 1 %}
{% block title %}Конфигурация кузовной надстройки Исузу{% endblock %}

{% extends 'front.configurator.layout' %}

{% block configurator %}
    <div class="row">
        <div class="col-lg-12">
            <h2 style="margin-top: 0" class="space-xs">Тип грузовика</h2>
        </div>

        {% for item in list %}
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center __configurator_item" style="background-image: url('{{ item.image }}'); ">
                <p>{{ item.title | raw }}</p>
                <a href="{{ route("front_configurator_chassis", {"alias": item.id}) }}" class="btn-red-all">Следующий шаг</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
