<div class="row add-space-for-md">
    <div class="col-md-4">
        <p class="leasinf_view_red"><span class="leasinf_view_black space-xs">от </span>12 мес.</p>
        <p class="leasinf_view_comment"><span class="space-xs">срок лизинга</span></p>
    </div>
    <div class="col-md-4">
        <p class="leasinf_view_red"><span class="leasinf_view_black space-xs">от </span>20%</p>
        <p class="leasinf_view_comment"><span class="space-xs">первоначальный взнос</span></p>
    </div>
    <div class="col-md-4">
        <p class="leasinf_view_red"><span class="leasinf_view_black space-xs">от </span><span class="pay_in_month"></span> <span class="glyphicon glyphicon-ruble" aria-hidden="true" style="font-size: 42px; line-height: 0;"></span></p>
        <p class="leasinf_view_comment"><sapn class="space-xs">платеж в месяц</sapn></p>
    </div>
</div>