<div class="row add-space-for-md">
    <div class="col-md-4">
        <p class="leasinf_view_red"><span class="leasinf_view_black space-xs">от </span>12 мес.</p>
        <p class="leasinf_view_comment"><sapn class="space-xs">срок лизинга</sapn></p>
    </div>
    <div class="col-md-4">
        <p class="leasinf_view_red"><span class="leasinf_view_black space-xs">от </span>20%</p>
        <p class="leasinf_view_comment"><sapn class="space-xs">первоначальный взнос</sapn></p>
    </div>
    <div class="col-md-4">
        <p class="leasinf_view_red"><span class="leasinf_view_black space-xs">от </span><sapn class="space-xs pay_in_month"></sapn></p>
        <p class="leasinf_view_comment"><sapn class="space-xs">платеж в месяц</sapn></p>
    </div>
</div>