{% extends 'front.layouts.app' %}

{% block title %}Лизинг{% endblock %}

{% block content %}
    <div class="container">
        <h1>Лизинг</h1>
        <div class="row">
            <div class="col-md-6">
                <p>АО «ИСУЗУ РУС» (бывшее ЗАО «СОЛЛЕРС-ИСУЗУ») – это официальный производитель и дистрибьютер автомобильной марки ISUZU в России. Компания основана совместными усилиями двух японских корпораций — Isuzu Motors Limited (74% акций) и Sojitz Corporation (26% акций).</p>
            </div>
            <div class="col-md-6">
                <p>Область деятельности компании – производство и продажа полного модельного ряда коммерческой техники ISUZU полной массой от 3,5 до 33 тонн через национальную дилерскую сеть, которая на данный момент насчитывает более 50 дилерских центров. Производственные мощности АО «ИСУЗУ РУС» расположены в г. Ульяновск.</p>
            </div>
        </div>

        <div class="row" style="padding: 24px 0">
            <div class="col-md-12">
                <img src="/img/about_001.jpg" alt="">
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <p>Грузовики Isuzu известны во всём мире и пользуются заслуженной популярностью. Свою репутацию они заслужили не только благодаря успешной маркетинговой политике и грамотному менеджменту. Главное их достоинство-долговечность, надежность и выносливость в сочетании с доступностью и простотой в эксплуатации. Все это делает автомобили ISUZU востребованными во всех регионах России.</p>
            </div>
        </div>
    </div>
{% endblock %}