html, body {
    width: 100%;
    overflow-x: hidden
}

p, h1, h2, h3, h4, h5, input, a, td {
    font-family: "ExGillSansC" !important
}


p {
    line-height: 1.7
}

.__news_date {
    font-size: 14px;
    line-height: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #646464
}

.__news_thumbnail {
    padding: 0;
    border: 0
}

#map {
    width: 100%;
    height: 400px;
    margin-top: 24px
}


.btn-red {
    background: #fff;
    border: 2px solid #ff2500;
    color: #000 !important
}

.btn-red:hover {
    background: #ff2500;
    color: #fff !important
}

.btn-red:focus {
    box-shadow: none
}

.btn-red:active {
    background: #ff2500;
    color: #fff;
    box-shadow: none
}

h5 {
    font-size: 36px
}

#modal_callback .close {
    font-size: 38px;
    line-height: 1;
    color: #333
}

.modal-header {
    padding-bottom: 0;
    border: 0;
    color: #ff0
}

.modal-body {
    position: relative;
    padding: 0 40px 40px
}

.modal_form_comment {
    font-size: 18px;
    line-height: 1.4;
    color: #777;
    font-weight: 400
}

.form-control, .form-control:focus {
    box-shadow: none;
    border-radius: 0;
    border: 0;
    border-bottom: 2px solid #000;
    font-size: 18px;
    line-height: 1.4;
    color: #333;
    padding-left: 0
}

.form-group {
    margin-bottom: 40px !important
}

.modal-content {
    border-radius: 0;
    border: 0
}

.navbar-nav > li > a:hover {
    background: none !important;
    border-bottom: 2px solid red
}

.header_before_menu {
    border-bottom: 1px solid #ccc;
    margin: 0;
    padding-left: 18px
}

.header_before_menu_info {
    font-size: 14px;
    padding-top: 10px;
    color: #4a4a4a
}

.no-padding-left {
    padding-left: 0 !important
}

/* for menu */
@media (min-width: 768px) {
    .navbar-nav li:first-child a {
        margin-left: 12px;
    }
}

.navbar-make {
    color: #4a4a4a
}

a {
    font-size: 20px;
    color: #4a4a4a !important
}

.text_logo {
    min-height: 100px;
    padding: 44px 0;
    background: red
}

.main_logo {
    display: block;
    background: #ff2500;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center
}

.main_logo img {
    width: 70%
}

.btn-white {
    background: none;
    border: 2px solid #fff;
    color: #fff !important
}

.btn-white:hover {
    background: #fff;
    border: 2px solid #fff;
    color: #000 !important
}

.btn-link:focus {
    outline: 0 !important
}

.__effect_zoom {
    cursor: pointer
}

.__effect_zoom:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    opacity: .2;
    transition: 1s
}

.__effect_zoom_wrap {
    background: #000
}

.footer {
    padding-bottom: 40px;
    color: #797979;
    font-size: 16px;
    font-weight: 400
}

.col-space-right {
    padding-right: 40px
}

.header_before_menu .btn-link {
    text-decoration: none;
    display: inline-block;
    border-bottom: 1px solid #ccc;
    color: #aaa
}

.header_before_menu .btn-link:hover {
    border-bottom: 1px solid #fff
}

.__configurator_item {
    height: 254px;
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 185px;
    border: 1px solid #ebebeb;
    cursor: pointer;
    font-size: 20px
}

.__configurator_item:hover {
    background-color: #ffe9e6
}

.__configurator_item p {
    line-height: 1
}

.__configurator_item:hover p {
    display: none
}

.btn-red-all {
    display: none;
    background: none;
    border: 2px solid #ff2500;
    padding: 8px 43px;
    color: #ff2500;
    font-size: 16px
}

.__configurator_item:hover button, .__configurator_item:hover a {
    display: inline-block;
    color: #ff2500
}

.__configurator_description {
    font-size: 24px;
    color: #4a4a4a
}

/* menu */
.navbar-toggle {
    margin-top: 22px;
    margin-left: 40px;
    padding: 0;
}

.icon-bar {
    background: black;
    width: 24px !important;
    border-radius: 0 !important;
    margin-bottom: 5px;
}

/* form leasing */
.item1 {
    width: 85px;
    height: 28px;
    font-family: GillSans;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.0;
    text-align: left;
    color: #000000;
}

.item2 {
    width: 50px;
    height: 28px;
    font-family: GillSans;
    font-size: 18px;
    line-height: 1.56;
    text-align: left;
    color: #646464;
}

/*** 123 */
input[type=range] {
    height: 32px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    animate: 0.2s;
    background: #777;
    border-radius: 0;
    border: 0;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 0;
    border: 0;
    height: 18px;
    width: 36px;
    border-radius: 0;
    background: #000;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 16px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #B6B6B6;
    border-radius: 25px;
    border: 1px solid #8A8A8A;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #828282;
    border: 1px solid #8A8A8A;
    height: 24px;
    width: 35px;
    border-radius: 6px;
    background: #DADADA;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 16px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #ccc;
    border: 1px solid #8A8A8A;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
    background: #ccc;
    border: 1px solid #8A8A8A;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 1px 1px 1px #828282;
    border: 1px solid #8A8A8A;
    height: 24px;
    width: 35px;
    border-radius: 6px;
    background: #DADADA;
    cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
    background: #ccc;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}

.leasinf_view_comment {
    padding-top: 10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 2;
    color: #777;
}

.leasinf_view_red {
    padding-top: 60px;
    font-size: 64px;
    line-height: 0;
    color: #ff2500;
}

.leasinf_view_black {
    font-size: 24px;
    line-height: 0;
    color: #000000;
}