html, body {
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: ExGillSansC;
    font-size: 18px;
    color: #000
}

h1 {
    font-size: 64px;
    margin-top: 60px
}

p {
    line-height: 1.7
}

.__news_date {
    font-size: 14px;
    line-height: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #646464
}

.__news_thumbnail {
    padding: 0;
    border: 0
}

#map {
    width: 100%;
    height: 400px;
    margin-top: 24px
}

* {
    font-family: "ExGillSansC" !important;
}

.btn {
    border-radius: 0;
    padding: 19px 50px 15px 50px;
    font-size: 18px;
    line-height: 1;
}

.btn-red {
    background: #fff;
    border: 2px solid #ff2500;
    color: #000000 !important;
}

.btn-red:hover {
    background: #ff2500;
    color: #fff !important;
}

.btn-red:focus {
    box-shadow: none;
}

.btn-red:active {
    background: #ff2500;
    color: #fff;
    box-shadow: none;
}

h5 {
    font-size: 36px;
}

#modal_callback .close{
    font-size: 38px;
    line-height: 1;
    color: #333;
}

.modal-header {
    padding-bottom: 0;
    border: 0;
    color: yellow;
}

.modal-body {
    position: relative;
    padding: 0 40px 40px 40px;
}

.modal_form_comment {
    font-size: 18px;
    line-height: 1.4;
    color: #777;
    font-weight: 400;
}

.form-control, .form-control:focus {
    box-shadow: none;
    border-radius: 0;
    border: 0;
    border-bottom: 2px solid #000;
    font-size: 18px;
    line-height: 1.4;
    color: #333;
    padding-left: 0;
}

.form-group {
    margin-bottom: 40px !important;
}

.modal-content {
    border-radius: 0;
    border: 1px solid #000;
}

.navbar-nav > li > a:hover {
    background: none !important;
    border-bottom: 2px solid red;
}

.header_before_menu {
    border-bottom: 1px solid #ccc;
    margin: 0;
    padding-left: 18px;
}

.header_before_menu_info {
    font-size: 14px;
    padding-top: 10px;
    color: #4a4a4a
}

.no-padding-left {
    padding-left: 0 !important
}

.navbar-nav li:first-child a {
    padding-left: 0 !important
}

.navbar-make {
    color: #4a4a4a
}

a {
    font-size: 20px;
    color: #4a4a4a !important
}
.text_logo {
    min-height: 100px;
    padding: 44px 0;
    background: red
}

.main_logo {
    display: block;
    background: #ff2500;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}

.main_logo img {
    width: 70%;
}

.btn-white {
    background: none;
    border: 2px solid #ffffff;
    color: #ffffff !important;
}


@media (min-width: 992px) and (max-width: 1439px) {
    .main_logo {
        width: 195px;
        height: 100px;
    }

    .main_logo img {
        margin-top: 40px;
    }

    .after_main_logo {
        padding-left: 195px;
        padding-right: 0;
        min-height: 100px;
    }

    .navbar-nav > li > a {
        font-size: 16px;
        margin: 0 26px;
        padding: 20px 0 0 0 !important;
        line-height: 14px;
    }

    .promo_home_left_box {
        height: 640px;
        background: url('/img/0_001.jpg') center;
        background-size: cover;
        padding-right: 0;
    }

    .promo_home_left_title {
        padding-top: 309px;
        padding-left: 30px;
        color: #ffffff;
        font-size: 36px;
        line-height: 76px;
    }

    .promo_home_left_text {
        padding-left: 30px;
        color: #ffffff;
        font-size: 18px;
        line-height: 28px;
    }

    .promo_home_left_button {
        padding-top: 12px;
        padding-left: 30px;
    }

    .promo_home_right_image {
        width: 100%;
        height: 300px;
        background: url('/img/0_002.jpg') center;
        background-size: cover;
    }

    .promo_home_right_title {
        padding-left: 20px;
        color: #000000;
        font-size: 36px;
        line-height: 52px;
    }

    .promo_home_right_text {
        padding-left: 20px;
        color: #000000;
        font-size: 18px;
    }

    .promo_home_right_button {
        padding-top: 12px;
        padding-left: 20px;
    }

    footer {
        padding-top: 48px;
        padding-left: 30px;
        padding-bottom: 40px;
        font-size: 16px;
        line-height: 1.4;
        color: #797979;
    }

    h1 {
        font-size: 48px !important;
    }

    /* первый промо блок */
    .__home_item_cover_decription {

    }

    .__home_item_cover_decription .price, .__home_item_list .price {
        font-size: 48px;
    }

    .__home_item_cover_decription .price {
        color: #000000;
        padding-top: 230px;
        padding-bottom: 7px;
        line-height: 26px;
    }

    .__home_item_cover_decription title {
        font-size: 18px;
    }

    .__home_item_list {
        margin-bottom: 48px;
    }

    .__home_item_list img {
        width: 100%;
        margin-bottom: 60px;
    }

    .__home_item_list .price {
        color: #000000;
        line-height: 12px;
        margin: 0;
    }

    .__home_item_list title {
        padding-bottom: 20px;
        color: #000000;
        font-size: 18px;
    }

    .header_before_menu_callback {
        padding-top: 10px;
        padding-right: 45px;
        font-size: 16px;
    }

    .header_before_menu .btn-link {
        padding: 0;
        padding-left: 15px;
        font-size: 16px;
        font-weight: 400 !important;
        line-height: 24px;
        color: #aaa;
    }
}

@media (min-width: 1440px) {
    .main_logo {
        width: 280px;
        height: 120px;
    }

    .main_logo img {
        margin-top: 47px;
    }

    .after_main_logo {
        padding-left: 280px;
        padding-right: 0;
        min-height: 120px;
    }

    .navbar-nav > li > a {
        font-size: 18px;
        margin: 0 26px;
        padding: 32px 0 0 0 !important;
        line-height: 14px;
    }

    .promo_home_left_box {
        height: 781px;
        background: url('/img/0_001.jpg') center;
        background-size: cover;
        padding-right: 0;
    }

    .promo_home_left_title {
        padding-top: 468px;
        padding-left: 80px;
        color: #ffffff;
        font-size: 48px;
        line-height: 76px;
    }

    .promo_home_left_text {
        padding-left: 80px;
        color: #ffffff;
        font-size: 22px;
    }

    .promo_home_left_button {
        padding-top: 12px;
        padding-left: 80px;
    }

    .promo_home_right_image {
        width: 100%;
        height: 450px;
        background: url('/img/0_002.jpg') center;
        background-size: cover;
    }

    .promo_home_right_title {
        padding-left: 15px;
        color: #000000;
        font-size: 48px;
        line-height: 76px;
    }

    .promo_home_right_text {
        padding-left: 20px;
        color: #000000;
        font-size: 22px;
    }

    .promo_home_right_button {
        padding-top: 12px;
        padding-left: 20px;
    }

    footer {
        padding-top: 48px;
        padding-left: 80px;
        padding-bottom: 40px;
        font-size: 16px;
        line-height: 1.4;
        color: #797979;
    }

    /* первый промо блок */
    .__home_item_cover_decription{

    }

    .__home_item_cover_decription .price {
        color: #000000;
        padding-top: 280px;
        font-size: 64px;
        line-height: 26px;
    }

    .__home_item_list {
        margin-bottom: 48px;
    }

    .__home_item_list img {
        width: 100%;
        margin-bottom: 60px;
    }

    .__home_item_list .price {
        color: #000000;
        font-size: 64px;
        line-height: 26px;
    }

    .__home_item_list title {
        padding-top: 7px;
        padding-bottom: 20px;
        color: #000000;
        font-size: 24px;
    }

    .header_before_menu_callback {
        padding-top: 10px;
        padding-right: 45px
    }


    .header_before_menu_callback {
        padding-top: 10px;
        padding-right: 45px;
        font-size: 16px;
    }

    .header_before_menu .btn-link {
        padding: 0;
        padding-left: 15px;
        font-size: 16px;
        font-weight: 400 !important;
        line-height: 24px;
        color: #aaa;
    }
}
