.main_logo {
    width: 195px;
    height: 100px;
}

body {
    padding-top: 100px;
}

.main_logo img {
    margin-top: 40px;
}

.after_main_logo {
    padding-left: 195px;
    padding-right: 0;
    min-height: 100px;
    margin-top: -100px;
}

.navbar-nav > li > a {
    font-size: 16px;
    margin: 0 26px;
    padding: 20px 0 3px 0 !important;
    line-height: 14px;
}

.promo_home_left_box {
    height: 640px;
    background: url('/img/0_001.jpg') center;
    background-size: cover;
    padding-right: 0;
}

.promo_home_left_title {
    padding-top: 389px;
    padding-left: 40px;
    color: #ffffff;
    font-size: 36px;
    line-height: 1;
}

.promo_home_left_text {
    padding-left: 40px;
    color: #ffffff;
    font-size: 18px;
    line-height: 18px;
}

.promo_home_left_button {
    padding-top: 12px;
    padding-left: 40px;
}

.promo_home_right_image {
    width: 100%;
    height: 340px;
    background: url('/dump-truck-main.jpg') center;
    background-size: cover;
}

.promo_home_right_title {
    padding-top: 40px;
    padding-left: 20px;
    color: #000000;
    font-size: 36px;
    line-height: 52px;
}

.promo_home_right_text {
    padding-left: 20px;
    padding-right: 20px;
    color: #000000;
    font-size: 18px;
    line-height: 1.2;
}

.promo_home_right_button {
    padding-top: 12px;
    padding-left: 20px;
}

footer {
    padding-top: 48px;
    padding-left: 30px;
    padding-bottom: 40px;
    font-size: 16px;
    line-height: 1.4;
    color: #797979;
}

h1 {
    font-size: 48px !important;
}

/* первый промо блок */
.__home_item_cover_decription {

}

.__home_item_cover_decription .price, .__home_item_list .price {
    font-size: 48px;
}

.__home_item_cover_decription .price {
    color: #000000;
    padding-top: 230px;
    padding-bottom: 7px;
    line-height: 26px;
}

.__home_item_cover_decription title {
    font-size: 18px;
}

.__home_item_list {
    margin-bottom: 48px;
}

.__home_item_list img {
    width: 100%;
}

.__home_item_list .price {
    margin: 0;
    margin-top: 30px;
    color: #000000;
    line-height: 1;
}

.__home_item_list title {
    padding-bottom: 20px;
    color: #000000;
    font-size: 18px;
}

.header_before_menu_callback {
    padding-top: 10px;
    padding-right: 45px;
    font-size: 16px;
}

.header_before_menu .btn-link {
    padding: 0;
    margin-left: 15px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400 !important;
    line-height: 24px;
}

.__leasing_view {
    padding-top: 48px
}

/* menu configurator */
.__configurator_menu {
    padding-top: 15px;
    padding-bottom: 15px;
}


.__configurator_menu li {
    display: inline-block;
}

.__configurator_menu a {
    font-size: 18px;
    padding-right: 60px;
}

.__strong_value {
    font-size: 24px;
}

.__configurator_black {
    font-size: 24px !important;
}

.__configurator_gray, .__configurator_black {
    padding-top: 10px !important;
}

.__configurator_table_item {
    font-size: 18px;
}


.add-space-for-md {
    padding-left: 8px;
}

.__home_item_list .title {
    line-height: 1.6;
}

.btn-red {
    border-radius: 0;
    padding: 9px 40px 8px 40px;
}

.title_a1 {
    margin-top: 54px;
}

.__search_result_item {
    margin-bottom: 48px;
}

.__search_result_item_image {
    width: 100%;
}

.__search_result_item_title {
    color: #000000;
    margin-top: 10px;
    font-size: 30px;
    line-height: 1;
}

.__search_result_item_price {
    color: #000000;
    font-size: 36px;
    line-height: 1.5;
}

.__search_result_item_action {
    font-size: 20px;
    color: #646464;
}

.__search_result_box {
    padding-top: 24px;
}

.__search_result_text {
    font-size: 16px;
}

._text_gray {
    color: #646464;
}

/* catalog view */

.__catalog_view_image {
    width: 100%;
    margin-top: 54px;
}

.__catalog_view_description {
    font-size: 18px;
    line-height: 1.56;
}

.__catalog_view_price {
    font-size: 48px;
    color: #000;
}

.__catalog_view_price_top {
    padding-top: 35px;
}

.__catalog_view_title {
    margin-top: 54px;
    font-size: 36px;
}

.__catalog_view_sub_title {
    margin-top: 0px;
    font-size: 24px;
}