{% extends "admin.layouts.app" %}

{% block title %}Создать новую "Шапку"{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-5 col-md-7">
            <h1>Создать новую "Шапку"</h1>

            <form method="post" action="{{ route('admin_headers_insert') }}">
                {{ csrf_field() }}
                <div class="form-group">
                    <label>Заголовок</label>
                    <textarea class="form-control" rows="7" name="title" required></textarea>
                </div>

                <div class="form-group">
                    <label>Подзаголовок</label>
                    <textarea class="form-control" rows="7" name="sub_title" required></textarea>
                </div>

                <div class="form-group">
                    <label>Текст</label>
                    <textarea class="form-control" rows="7" name="description"></textarea>
                </div>

                <div class="form-group">
                    <label>Надпись на кнопке</label>
                    <input type="text" name="button" class="form-control" value="">
                </div>

                <div class="form-group">
                    <label>Адрес для кнопки</label>
                    <input type="text" name="button_url" class="form-control" value="">
                </div>

                <div class="form-group">
                    <label>Первая картинка</label>
                    <textarea class="form-control" rows="7" name="add_1"></textarea>
                </div>

                <div class="form-group">
                    <label>Вторая картинка</label>
                    <textarea class="form-control" rows="7" name="add_2"></textarea>
                </div>

                <div class="form-group">
                    <label>Третья картинка</label>
                    <textarea class="form-control" rows="7" name="add_3"></textarea>
                </div>

                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Создать</button>
            </form>
        </div>
    </div>
{% endblock %}
