{% extends "admin.layouts.app" %}

{% block title %}Стартовая страница{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-7 col-md-12">
            <h1>Стартовая страница для сайта {{ model.name }}</h1>
        </div>
    </div>
{% endblock %}
