
@font-face {
  font-family: 'Gill Sans';
  src: url('GillSansMT.eot?#iefix') format('embedded-opentype'),  url('GillSansMT.woff') format('woff'), url('GillSansMT.ttf')  format('truetype'), url('GillSansMT.svg#GillSansMT') format('svg');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'Gill Sans';
  src: url('GillSansMT-Bold.eot?#iefix') format('embedded-opentype'),  url('GillSansMT-Bold.woff') format('woff'), url('GillSansMT-Bold.ttf')  format('truetype'), url('GillSansMT-Bold.svg#GillSansMT-Bold') format('svg');
  font-weight: 600;
  font-style: normal;
}