{% extends 'front.layouts.app' %}

{% block title %}Специальные акции{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="title_a1">Специальные акции</h1>

        <div class="row">
            <div class="col-sm-6 col-md-3" style="height: 575px;">
                <div class="thumbnail">
                    <img src="/images/sales/230х300_new.jpg">
                    <div class="caption">
                        <h3 class="text-center">Оригинальное моторное масло ISUZU GENUINE OIL</h3>
                        <p><a href="/actions/originalnoe-motornoe-maslo-isuzu-genuine-oil/" class="btn btn-red btn-block" role="button">Смотреть</a></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="thumbnail" style="height: 575px; padding-bottom: 24px;">
                    <img src="/images/sales/black_edition_303.jpg">
                    <div class="caption">
                        <h3 class="text-center">Старт продаж ограниченной серии автомобилей ISUZU D-MAX Black Edition</h3>
                        <p><a href="/actions/start-prodazh-ogranichennoy-serii-avtomobiley-isuzu-d-max-black-edition/" class="btn btn-red btn-block" role="button">Смотреть</a></p>
                    </div>
                </div>
            </div>

            <!--
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail" style="height: 575px; padding-bottom: 24px;">
                    <img src="/images/sales/303х390.jpg">
                    <div class="caption">
                        <h3 class="text-center">Лизинг Финанс</h3>
                        <p><a href="/actions/leasing-finance/" class="btn btn-red btn-block" role="button">Смотреть</a></p>
                    </div>
                </div>
            </div>
            -->

            <div class="col-sm-6 col-md-3">
                <div class="thumbnail" style="height: 575px; padding-bottom: 24px;">
                    <img src="/images/sales/303x390.jpg">
                    <div class="caption">
                        <h3 class="text-center">2 года ТО в подарок</h3>
                        <p><a href="/actions/dva-goda-to-v-podarok/" class="btn btn-red btn-block" role="button">Смотреть</a></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="thumbnail" style="height: 575px; padding-bottom: 24px;">
                    <img src="/images/sales/big-sm.jpg">
                    <div class="caption">
                        <h3 class="text-center">Продление гарантии</h3>
                        <p><a href="/actions/prodlenie-garantii/" class="btn btn-red btn-block" role="button">Смотреть</a></p>
                    </div>
                </div>
            </div>

            <!--
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail" style="height: 575px; padding-bottom: 24px;">
                    <img src="/images/sales/1211bg-2.jpg">
                    <div class="caption">
                        <h3 class="text-center">Лизинг</h3>
                        <p><a href="/actions/leazing/" class="btn btn-red btn-block" role="button">Смотреть</a></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="thumbnail" style="height: 575px; padding-bottom: 24px;">
                    <img src="/images/sales/330х390_3.jpg">
                    <div class="caption">
                        <h3 class="text-center">ISUZU D-MAX в рассрочку без переплат</h3>
                        <p><a href="/actions/v-rassrochku-bez-pereplaty/" class="btn btn-red btn-block" role="button">Смотреть</a></p>
                    </div>
                </div>
            </div>
            -->
        </div>
    </div>
{% endblock %}

