{% extends 'front.layouts.app' %}

{% block title %}Старт продаж ограниченной серии автомобилей ISUZU D-MAX Black Edition.{% endblock %}

{% block content %}
    <style>
        @media (min-width: 992px) and (orientation: landscape) {
            p, li {
                font-size: 18px;
            }
        }
    </style>

    <div class="container">
        <h1 class="title_a1">Старт продаж ограниченной серии автомобилей ISUZU D-MAX Black Edition.</h1>

        <div class="row">
            <div class="col-md-12">
                <p class="text-center space-xs" ><img src="https://www.isuzu.ru/upload/iblock/76f/black_edition_1186.jpg" alt="" style="width: 100%"></p>
                <p class="space-xs">Пикап предлагается на базе 4-х комплектаций AQUA, AIR AT, FLAME и ENERGY 2017 года выпуска, цвет кузова черный.</p>
                <p class="space-xs">Помимо стандартной комплектации автомобиль укомплектован следующим списком аксессуаров:</p>

                <table class="table" style="max-width: 500px;">
                    <tbody>
                    <tr>
                        <td><img src="https://www.isuzu.ru/img/icon/Kung.png"></td>
                        <td>Кунг Carryboy</td>
                    </tr>
                    <tr>
                        <td><img src="https://www.isuzu.ru/img/icon/Vkladysh.png"></td>
                        <td>Вкладыш в кузов</td>
                    </tr>
                    <tr>
                        <td><img src="https://www.isuzu.ru/img/icon/Rejlingi.png"></td>
                        <td>Рейлинги на крышу черного цвета</td>
                    </tr>
                    <tr>
                        <td><img src="https://www.isuzu.ru/img/icon/Deflektor_kapota.png"></td>
                        <td>Дефлектор капота</td>
                    </tr>
                    <tr>
                        <td><img src="https://www.isuzu.ru/img/icon/Deflektory_okon.png"></td>
                        <td>Дефлекторы окон</td>
                    </tr>
                    <tr>
                        <td><img src="https://www.isuzu.ru/img/icon/Kovriki.png"></td>
                        <td>Комплект ковриков в салон</td>
                    </tr>
                    <tr>
                        <td><img src="https://www.isuzu.ru/img/icon/Porogi.png"></td>
                        <td>Металлические накладки на пороги</td>
                    </tr>
                    </tbody>
                </table>

                <table class="table">
                    <tbody>
                    <tr>
                        <td>Модель</td>
                        <td>AQUA</td>
                        <td>AIR AT</td>
                        <td>FLAME</td>
                        <td>ENERGY</td>
                    </tr>
                    <tr>
                        <td>Цена на D-Max Black Edition</td>
                        <td>2 000 000 руб.*</td>
                        <td>2 285 000 руб.*</td>
                        <td>2 190 000 руб.*</td>
                        <td>2 385 000 руб.*</td>
                    </tr>
                    </tbody>
                </table>

                <p class="space-xs">* Рекомендованная розничная цена.<br>** Автомобиль на изображении представлен в комплектации Energy.</p>
            </div>
        </div>
    </div>
    </div>
{% endblock %}

