{% extends 'front.layouts.app' %}

{% block title %}Оригинальное моторное масло ISUZU GENUINE OIL{% endblock %}

{% block content %}
    <style>
        @media (min-width: 992px) and (orientation: landscape) {
            p, li {
                font-size: 18px;
            }
        }
    </style>

    <div class="container">
        <h1 class="title_a1">Оригинальное моторное масло<br>ISUZU GENUINE OIL</h1>

        <div class="row">
            <div class="col-md-4">
                <p class="text-center space-xs" ><img src="https://www.isuzu.ru/img/isuzu-maslo_4.jpg" alt="" style="max-width: 100%"></p>
            </div>
            <div class="col-md-8">
                <p class="space-xs">Своеобразный юбилей отмечает сегодня оригинальное моторное масло ISUZU GENUINE OIL 10W-40 CH-4, поскольку присутствует на российском рынке ровно два года. За это время мы получили сотни положительных отзывов, как от конечных потребителей, так и от профессионалов рынка - руководителей сервисных станций, имеющих большой опыт в использовании неоригинальных масел.</p>
                <h3 class="space-xs">Что же такое оригинальное моторное масло ISUZU GENUINE OIL 10W-40 CH-4?</h3>
                <p class="space-xs">Оригинальное масло - ISUZU GENUINE OIL 10W-40 CH-4 является результатом синергетического эффекта при объединении высококачественных компонентов (присадок и базовых масел), уникальной рецептуры и строжайшем контроле качества сырья и готовой продукции.</p>
                <p class="space-xs">Масло производится крупнейшей на рынке производителей масел японской компанией JX Nippon Oil & Energy Corporation на одном из своих заводов в Сингапуре, используя при производстве уникальную рецептуру. Данная рецептура была специально разработана и протестирована для применения масел в узлах автомобилей ISUZU, и учитывает всю специфику конструкции и работы двигателей ISUZU.</p>
                <p class="space-xs">На мировом рынке смазочных материалов продукция компании JX Nippon Oil & Energy Corporation занимает 6-ое место по объему реализации (результат продаж 2014 года), а на японском рынке компания является лидером, производя оригинальные масла для таких компаний, как ISUZU, Hino, Fuso,Toyota, Nissan, Honda, Mitsubishi, Subaru, Mazda, Yamaha, Suzuki и многих других.</p>
                <p class="space-xs">Масла крупнейших производителей – Mobil, Shell, Total и др. без сомнения хороши, но они не специализированы, то есть они разрабатываются для самого широкого круга потребителей, и пригодны для применения в узлах как европейских, так и американских и азиатских автомобилей. При этом в них не учитывается (и не может учитываться) специфика конструкции и работы узлов конкретного производителя. Оригинальные же масла созданы исключительно исходя из параметров определенной техники. Говоря проще, оригинальные масла хороши тем, что «заточены» именно под определенный бренд (в нашем случае – ISUZU MOTORS).</p>
                <p class="space-xs">В России только компания АО «ИСУЗУ РУС» имеет эксклюзивное право на продажи данного масла. Таким образом, покупая оригинальное масло ISUZU только у официальных дилеров компании, покупатель может быть абсолютно уверен, что приобретает настоящее оригинальное масло ISUZU.</p>
            </div>
        </div>
    </div>
    </div>
{% endblock %}

