{% extends 'front.layouts.app' %}

{% block title %}Продление гарантии{% endblock %}

{% block content %}
    <style>
        @media (min-width: 992px) and (orientation: landscape) {
            p, li {
                font-size: 18px;
            }

            p.sub_text {
                font-size: 12px;
            }

            h3 {
                margin-top: 0px;
            }
        }
    </style>

    <div class="container">
        <h1 class="title_a1">Продление гарантии</h1>

        <div class="row">
            <div class="col-md-4">
                <p class="text-center space-xs" ><img src="https://www.isuzu.ru/img/servisny-i-kontrakt.jpg" alt="" style="width: 100%"></p>
            </div>
            <div class="col-md-8">
                <h3 class="space-xs">Специальное предложение от ISUZU – продление гарантии на силовую линию до 5 лет. «Сервисный контракт КОМПЛЕКС по цене сервисного контракта СТАНДАРТ» продлено до 31 декабря 2018 года.</h3>
                <p class="space-xs">При покупке Сервисного контракта на новые транспортные средства (срок с даты продажи которых не превышает 6 месяцев) Вы можете получить расширенную гарантию на силовую линию (двигатель, коробка передач и ведущий мост) без дополнительной оплаты к стоимости планового технического обслуживания.</p>
                <p class="space-xs">Узнать подробную информацию о сервисных контрактах, их видах и преимуществах, а также рассчитать стоимость собственного контракта вы можете на сайте в разделе Сервисные контракты или в официальных дилерских центрах ISUZU.</p>
            </div>
        </div>
    </div>
    </div>
{% endblock %}

