{% set title = 'Редактировать товар' %}

{% extends "admin.products.add" %}

{% block load_image %}
    <div class="form-group">
        <label>Картинка</label>
        <p>
            {% if product.cover is not empty %}
                <img id="upload_image" src="{{ product.path() }}" alt="Загрузить изображение" class="img-thumbnail" style="max-width: 350px; cursor: pointer">
            {% else %}
                <img id="upload_image" src="/img/admin/upload_image.jpg" alt="Загрузить изображение" class="img-thumbnail" style="cursor: pointer">
            {% endif %}
        </p>

        <form action="{{ route('admin_products_cover') }}" method="post" enctype="multipart/form-data" style="display: none">
            {{ csrf_field() }}
            <input type="hidden" name="id" value="{{ product.id }}">
            <input type="file" name="image" onchange="this.form.submit()">
        </form>

        <p class="help-block">Нажмите на изображение для загрузки картинки</p>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function(){
            $('#upload_image').click(function(){
                $('[type="file"]').click();
            });
        });
    </script>
{% endblock %}
