{% extends 'front.layouts.app' %}

{% block title %}My Site{% endblock %}

{% block content %}
<div class="container">
    <h1>Новости</h1>
    <div class="row">
        {% for index,item in list %}
            <div class="col-lg-4 col-xs-3">
                <a href="{{ route('front_news_view', {'id': index + 1}) }}" class="thumbnail __news_thumbnail">
                    <img src="{{ item.image }}" alt="...">
                </a>
                <p class="__news_date">{{ item.date }}</p>
                <h3>{{ item.title }}</h3>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}